#menu2,#menu2 ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: none;
}
#menu2>li {
	position: relative;
	width: 24px;
	height: 24px;
	float: left;
	transition: background-color 300ms;
	display: flex;
	justify-content: center;
}
#menu2>li:hover {background-color: #9cf;}
#menu2>li>ul {
	position: absolute;
	width: 100vw;
	top: 52px;
	background-color: #FFBF80;
	max-height: 0px;
	color: #FDFDFD;
	overflow: hidden;
	transition: all 600ms;
}
#menu2>li:hover>ul {max-height: 255px;opacity: 0.9;}
#menu2>li>ul>li:hover {color: #343434;}
#menu2>li>ul>li a:hover {color: #343434;}
@media (max-width:1199px){
	#menu2,#menu2 ul {display: inline;}
}