@charset "UTF-8";
html{
    font-size: 100%;
}
body{
    font-family:"cwTeXYen", sans-serif;
    line-height: 1.7;
    color: #40210D;
}
img{
    max-width: 100%;
}
.wrapper{
   padding:  10px 30px;
}
/* home */
/* 選單列 */
a{
    text-decoration: none;
}
.page-header{
    width:100%;
    height: 500rpx;
    right:0rpx;
    display: flex;
    justify-content: space-between;
}
.main-nav{
    top:500px;
    right: 500px;
    text-transform: uppercase;/*變成大寫*/
    display: flex;
    margin-top: 15px;
    margin-right: 15px;
}
.main-nav li a{
    color:  #9F651C;
    font-size: 1rem;
    margin-left: 15px;
}
.logo{
    width: 200px;
    margin-top: 20px;
}
.main-nav li a:hover{
    color: #40210D;
    font-weight: 600;
}

/* 主要 */
.home-content{
    text-align: center;
    margin-top: 10%;
}
.page-title{
    font-family:"cwTeXFangSong",serif ;
    font-size: 4rem;
    text-transform: uppercase;
    color: #40210D;
}
.slogan{
    font-size: 1.3rem;
    letter-spacing: 1.5px;
    margin-bottom: 30px;
}
.seemenu{
    padding: 20px 30px;
}
.button{
    font-size: 1.5rem;
    background-color: #9F651C;
    color: #fff;
    border-radius: 10px;
    border: 0;
	width: 100px;
    height: 40px;
}
.button:hover{
    background-color:hsla(33, 70%, 37%, 0.393) ;
    color:#fff;
}
.background-img{
    background-size: cover;
    background-position: center top;/*起始位置*/
    background-repeat: no-repeat;
    width: 100%;
}
#home{
    background-image: url(images/main-bg.jpg);
    min-height: 100vh;
    /* 濾鏡 */
    /* background-color: rgb(238, 220, 195);
    background-blend-mode: multiply; */
}
/* news */
#news{
    background-image: url(images/news-bg.jpg);
    height: 270px;
    margin-bottom: 40px;
}
#news .page-title{
    text-align: center;
}
/* footer */
footer{
	position: relative;
	top:0;
    background-color: #9F651C;
    text-align: center;
    padding: 10px 0;
}
footer p{
    color: #fff;
    font-size: 1rem;
}
/* 兩懶內容 */
article{
    width: 60%;
    order: 2;
}
aside{
    width: 20%;
    order: 3;
}
.ad{
    order: 1;
    width: 150px;
}
.news-content{
    display: flex;
    justify-content: space-between;
    margin: 0 60px;
    margin-bottom: 40px;
    position: relative;
}
.post-info{
    position: relative;
    padding-top: 4px;
    margin-bottom: 40px;
}
.post-date{
    background-color: #40210D;
    border-radius: 100%;
    color: #fff;
    width: 100px;
    height: 100px;
    font-size: 1.6rem;
    text-align: center;
    position: absolute;
    top: 0;
    padding-top: 10px;
}
.post-date span{
    font-size: 1rem;
    border-top: 1.5px rgba(255, 255, 255, 0.508) solid;
    padding-top: 6px;
    display: block;
    width: 60%;
    margin: 0 auto;
}
.post-title{
    font-size: 2rem;
    font-weight: 300;
}
.post-title,
.post-cat{
    margin-left: 120px;
}
.post-cat span{
    border-bottom: 1px #000 solid;
    padding-bottom: 2px;
}
article img{
    margin-bottom: 20px;
}
article p{
    font-size: 1.3rem;
    margin-bottom: 10px;
}
/* 邊欄內容 */
.bulletin-board-title{
    font-size: 1.3rem;
    padding: 0 10px 4px;
    border-bottom: 2px #9F651C solid;
    font-weight: 800;
    color: #9F651C;
}
aside p{
    padding: 10px 10px;
}
.bulletin-board-menu li a{
    color: #000;
    padding: 10px;
    display: block;
    border-bottom: 1px solid rgb(166, 164, 164);
}
.bulletin-board-menu{
    margin-bottom: 60px;
}
.bulletin-board-menu a:hover{
    color: #40210D;
}
/* 菜單頁 */
#menu{
    background-image: url(images/menu-bg.jpg);
}
.menu-content .page-title{
    text-align: center;
}
.menu-content p{
    font-size: 1.3rem;
    text-align: center;
    color:#40210D;
    background-color:rgba(255, 255, 255, 0.675) ;
    margin-bottom: 50px;
    padding: 5px;
}
.item{
	margin: 0 3%;
	height: 100%;
}
.item p{
    margin-bottom: 10px;
}
.grid{
   display: grid;
   grid-template-columns: repeat(auto-fit,minmax(240px, 1fr));
   margin-top: 3%;
   margin-bottom: 3%;
}
.grid p{
    text-align: center;
    font-size: .8rem;
}
.grid h5{
    text-align: center;
    font-size: 1.5rem;
    cursor: pointer;
    font-family:"Noto Sans TC", sans-serif;
    color: #40210d;
    background-color: rgb(239, 234, 234);
    letter-spacing: 3px;;
}
.grid h6{
    text-align: center;
    font-size: 1rem;
    margin-bottom: 5px;
}
.big-box{
    grid-column: 1/3;
    grid-row: 1/3;
}
.big-box img{
    height: 80%;
    width: 100%;
    object-fit: cover;
}
/* 聯絡我們的表單 */
#contact{
    background-image: url(images/contact-bg.jpg);
    min-height: 100vh;
}
#contact form{
     padding: 0 5% 5%;
}
#contact h2{
    padding-left: 5%;
}
form div{
    margin-bottom: 15px;
}
label{
    font-size: 1.2rem;
    margin-bottom: 15px;
    display: block;
}
input[type="text"],
input[type="url"],
textarea{
    background: rgba(255, 255, 255, 0.5);
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
}
input[placeholder]{
    color:rgb(138, 114, 26);
}
input[type="text"],
input[type="url"]{
    width: 100%;
    max-width: 240px;
}
input[type="submit"]{
    border: none;
    cursor: pointer;
    line-height: 0.5;
}
textarea{
    width: 100%;
    max-width: 480px;
    height: 6rem;
}
/* 連結頁 */
#link{
    background-image: url(images/link-bg.jpg),linear-gradient(rgba(255, 255, 255, 0.95),rgba(255, 255, 255, 0.454));
    /* background-blend-mode:luminosity ; */
    background-position: center;
    height: 270px;
}
.shop-item{
    align-items: center;
    text-align: left;
}
.shop-container{
	padding: 30px 5% 0;
    width:33%;
}
.fb-box{
	padding: 0 5%;
	width: 30%;
}
.info-title{
    font-weight: bold;
    color: #40210D;
    font-size: 1.5rem;
    border-bottom: 1px solid #40210D;
    cursor: pointer;
}
.map-container{
    top: 1000px;
    position:relative;
    display:flex;
    justify-content: space-around;
}
.map-item{
    width: 100%;
}
iframe{
    width: 100%;
}
#sns{
    background-color: antiquewhite;
    padding: 5% 0;
}

#sns .wrapper{
    display: flex;
    justify-content: space-between;
}
.fb-title{
    font-weight: bold;
    color: #40210D;
    font-size: 1.5rem;
    border-bottom: 1px solid #40210D;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
}
#link h2{
    color:#40210D;
    text-align: center;
}
#totop{
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1000; /* 排列順序 */
    opacity: 0.3; /* 透明度 */
    transition: 0.5s;
    transform: rotate(-180deg) scale(0.7); /* 多個變形只需要利用空白來分隔 */
}
#totop:hover{
    opacity: 1;
    transform: rotate(0deg) scale(1);
}
.shop-info{
	display: flex;
	justify-content: space-between;
	left:0;
	right:0;
	width:100%;
}
.fb-box{
	position: relative;
    width: 100%;
	padding: 0 5%;
	justify-content: center;	
}	

@media (min-width:1400px){}
@media(min-width:1200px) and (max-width:1399px){}
@media(min-width:992px) and (max-width:1199px){
    article{
        margin:0 20px;
    }
}

@media(min-width:768px) and (max-width:991px){	
	.page-title{
	    font-family:"cwTeXFangSong",serif ;
	    font-size: 4rem;
	    text-transform: uppercase;
	    color: #40210D;
	}
    .home-content .page-title{
        margin: 0 100px;
    }
    .home-content .slogan{
        margin: 0 80px 30px 80px;
    }
    .ad img{
        display: none;
    }
    .news-content {
        flex-direction: column;
        width: 100%;
    }
    article{
        width: 100%;
        margin-bottom: 30px;
    }
    .container .news-content{
        margin: 0;
    }
    aside{
        width: 100%;
        margin-bottom: 30px;
    }
}
@media (max-width:767px){
	.wrapper{
	   padding:  10px 0;
	}
	.shop-info{
	    /* position:relative; */
	    left:0;
	    right:0;
	    width:100%;
		flex-wrap: wrap;
		justify-items: center;
	}
	.shop-container{
		padding: 0 5%;
	    width:100%;
	}
	.page-header{
	    width:100%;
	    height: 500rpx;
	    right:0rpx;
	    display: flex;
	    justify-content: center;
		flex-wrap: wrap;
	}
	.main-nav{
	    background-color:  rgba(255,255,255,0.9);
		border-radius: 10px;
	    text-transform: uppercase;/*變成大寫*/
	    display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0;
		height: 60px;
	}
	.main-nav li a{font-size: 1rem;margin-left: 0px;}
	#link h2{font-size: 3rem;}
	.home-content{text-align: center;padding-bottom: 10%;}
    .home-content .page-title{margin: 0 100px;}
	.page-title{background-color: rgba(255,255,255,0.675);}
    .home-content .slogan{margin: 0 80px 30px 80px;}
    .grid{object-position: 0 50%;}
    .big-box{
        grid-column: auto;
        grid-row: auto;
    }
    .big-box img{height: auto;}
    .ad img{ display: none;}
    .news-content {
        flex-direction: column;
        width: 100%;
    }
    article{
        width: 100%;
        margin-bottom: 30px;
    }
    .container .news-content{
        margin: 0;
    }
    aside{
        width: 100%;
        margin-bottom: 30px;
    }
}